* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background: black;
    /* overflow: hidden; */
}

.window {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    /* z-index: 4; */
    /* position: relative;
    top: 5%;
    left: 50%; */
    backdrop-filter: blur(1rem);
    border-radius: 20px;
    margin: 60px 0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;

}

/* -------------BACKGROUND ------- */
.background {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;

}

.bg-img {
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}

.rotating {
    -webkit-animation: rotating-function 100s linear infinite;
    -moz-animation: rotating-function 100s linear infinite;
    -ms-animation: rotating-function 100s linear infinite;
    -o-animation: rotating-function 100s linear infinite;
    animation: rotating-function 100s linear infinite;
    transform-origin: center;

}

@-webkit-keyframes rotating-function {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes rotating-function {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-360deg);
    }
}

@-ms-keyframes rotating-function {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(-360deg);
    }
}

@-o-keyframes rotating-function {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(-360deg);
    }
}

@keyframes rotating-function {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

nav {
    display: flex;
    color: white;
    align-items: center;
    left: 40%;
    z-index: 40;
}

.nav_bar {
    display: flex;
    gap: 25%;
}



a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}


a:hover {
    color: #fff;
    text-align: center;
    animation: glow 500ms ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #05ec18, 0 0 40px #9df308, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #f10707, 0 0 40px #ff0000, 0 0 50px #f10202, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* ------------------------------- */